.body{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1600px;
    padding: 0 80px;
    margin: auto;
    margin-left: 125px;
}

.fon{
    display: flex;
    margin: auto;
    width: 1600px;
    height: 1000px;
    background: url(../pics/Home.png); 
    background-repeat: no-repeat;
    position: absolute;
}

.nalojenie{
    display: flex;
    width: 1440px;
    height: 1000px;
    background-color: rgba(123, 126, 177, 0.322) ;
}

.box{
    display: inline-block;
    margin: auto;
    width: 550px;
    height: 220px;
    background-color: white;
    border-radius: 5px;
}

.x-pic{
    width: 15px;
    height: 15px;
    margin-left: 520px;
    padding-top: 15px;
}

.Subscribe-desck{
    width: 500px;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    text-align: center;
    margin-left: 25px;
    color: #295093;
}

.telegram{
    display: flex;
    margin: auto;
    height: 40px;
    width: 145px;
    background: linear-gradient(90deg, #1E96C8 15.07%, #37AEE2 85.96%);
    padding: 1px;
    border-radius:10px ;
    align-items: center;
}

.telegram-img{
    display: block;
    margin-right: 5px;
    padding: 10px;
    padding-right: 0px;
}

.Subscribe{
    display: flex;
    margin-left: 5px;
    color: #FFFFFF;
    padding-right: 10px;
}